<settings>
    <servers>
        <server>
            <id>ossrh</id>
            <username>${JIRA_USERNAME}</username>
            <password>${JIRA_PASSWORD}</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>ossrh</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.executable>gpg</gpg.executable>
                <gpg.passphrase>${GPG_PASSPHRASE}</gpg.passphrase>
                <gpg.defaultKeyring>true</gpg.defaultKeyring>
                <gpg.useagent>true</gpg.useagent>
                <gpg.lockMode>never</gpg.lockMode>
            </properties>
        </profile>
    </profiles>
</settings>
